RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^bengkel\.intala\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bengkel\.intala\.com$
RewriteRule ^/?$ "https\:\/\/bengkel\.intala\.com\/" [R=301,L]

